<div class="focus">

  <div class="forms">

    <div>
      Consultar lista de peliculas The Avengers
      <br>
      <button routerLink="/movie/popular">Consultar</button>
    </div>
    <br>
    <div>
      Consultar ficha de Fight Club
      <br>
      <button routerLink="/movie/find">Consultar</button>
    </div>
    <br>
    <div>
      Consultar programa 
      <br>
      <button routerLink="/tv">ir</button>
    </div>
    <br>
    <button (click)="logout()" routerLink="/login" >salir</button>
  </div>

</div>